@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .highlight-task {
    @apply ring-2 ring-blue-500 ring-offset-2 transition-all duration-500;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .highlight-publication {
    @apply ring-2 ring-green-500 ring-offset-2 transition-all duration-500;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
  }
}